@model OSSocial.Models.Post
@{
    ViewData["Title"] = "See post details";
}
<h1>@ViewData["Title"]</h1>

<br>
<p>@Model.Title</p>
<p>@Model.Content</p>
<p>@Model.formattedTime</p>

@if (!string.IsNullOrEmpty(@ViewBag.Post.Media))
{
    @* doar dacă nu e null, verificăm extensia *@
    if (@ViewBag.Post.Media.EndsWith(".mp4") || @ViewBag.Post.Media.EndsWith(".mov"))
    {
        <video width="550" height="300" controls>
            <source src="@ViewBag.Post.Media" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    }
    else
    {
        @* dacă nu e video, e imagine *@
        <img src="@ViewBag.Post.Media" alt="Article Image" style="width: 100%; max-width: 550px; height: auto; object-fit: cover; border-radius: 10px;" />
    }
}

<br/>
<form asp-action="Delete" asp-controller="Post" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Delete Post</button>
</form>

<br/>

<a asp-controller="Post" asp-action="Feed">Return to feed</a>

<br/>

<p>In progress</p>