@{
    ViewData["Title"] = "Personal Feed";
}
<h1 >@ViewData["Title"]</h1>

@foreach (var postare in ViewBag.Posts)
{
    <div style="max-width: 50em; margin: auto;">
        <p >@postare.Title</p>
        <p>@postare.Content</p>
        <p>@postare.Time</p>
        
        @if (!string.IsNullOrEmpty(postare.Media))
        {
            @* doar dacă nu e null, verificăm extensia *@
            if (postare.Media.EndsWith(".mp4") || postare.Media.EndsWith(".mov"))
            {
                <video width="550" height="300" controls>
                    <source src="@postare.Media" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            }
            else
            {
                @* dacă nu e video, e imagine *@
                <img src="@postare.Media" alt="Article Image" style="width: 100%; max-width: 30em; max-height: 30em height: auto; object-fit: cover; border-radius: 10px;" />
            }
        }
        <br/>
        
        <a href="/Post/Details/@postare.Id" >Show post details</a>
        <br/>
        @if (ViewBag.EsteAdmin == true || ViewBag.UserId == postare.UserId)
        {
            <form asp-action="Delete" asp-controller="Post" asp-route-id="@postare.Id" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger">Delete Post</button>
            </form>
        }
        
        @if (ViewBag.UserId == postare.UserId)
        {
            <a href="/Post/EditPost/@postare.Id" >Edit post</a>
            <hr/>    
        }
            
    </div>
}

<a href="/Post/CreatePost" >Add a new post</a>

<br/>

<p >Work in progress!</p>